{{> head}}

    {{> navbar}}

    <div class="row">

        <div class="col-4">
            <h1>Imagen Vue 3.0</h1>
        </div>

        <div class="col-8">
         <img  src="https://i.postimg.cc/9MZnT73L/Vue3-One-Piece.png" class="img-thumbnail">   
        </div>

    </div>

{{> footer}}